.cart {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  z-index: 7000000;
  border: none;
  border-radius: 8px;
  background-color: #fff;
}
.cart__body {
  min-height: 180px;
  flex: 1 1 auto;
  overflow-y: scroll;
}
.cart__body::-webkit-scrollbar {
  /* display: none; */
  /* margin: 5px; */
  background-color: var(--light-gray);
  width: 8px;
  /* visibility: hidden; */
}
.img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.product-item {
  border-bottom: 1px solid var(--light-gray);
  padding: 5px 0;
}
.product-item span {
  font-size: 12px;
}
.product-item .icon {
  /*background-color: red;*/
  width: 20px;
  height: 20px;
  border: 1px solid var(--light-gray);
  padding: 0 2px;
  margin: 0 7px;
}
.product-item p {
  font-size: 14px;
  color: black !important;
}
.product-item h6 {
  font-size: 14px !important;
}

.text-bold {
  font-weight: 600;
}
.btn-clear-cart {
  /* background-color: red !important; */
  font-size: 16;
  color: var(--dark-gray) !important;
}
.btn-clear-cart:hover {
  text-decoration: underline;
}
hr {
  background-color: var(--dark-gray) !important;
  /* background-color: red !important; */
}
