.ReactModal__Overlay {
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
  padding: 0;
}
.ReactModal__Content {
}
.modal_options_content {
  height: 100%;
  min-height: 450px;
  /*background-color: red;*/
}
.modal_options_content .row {
  height: 100%;
  min-height: 450px;
  /*background-color: yellow;*/
}
