.profile-page {
}
.nav-tabs {
  border-bottom: 0 !important;
  background-color: var(--light-gray);
  padding: 5px 40px;
  border-radius: 8px;
}
.nav-link {
  padding: 3px 40px !important;
  margin: 0 20px;
  border-radius: 8px !important;
  color: var(--dark-gray) !important;
  cursor: pointer;
}
