.options_content {
  overflow-x: hidden;
  /*overflow-y: scroll ;*/
}

.image {
  /*background-color: red;*/
  width: 100%;
}
.image img {
  width: 100%;
}
/*.::-webkit-scrollbar {*/
/* display: none; 
  /* margin: 5px; */
/*background-color: var(--light-gray);*/
/*width: 8px;*/
/* visibility: hidden; */
/*}*/
