.banner {
  height: 420px;
  background-image: url("https://api-dev.dondemand.io/storage/companies/69/branch/branch_banner_34_1634849251.jpg");
  background-color: silver;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
hr {
  background-color: var(--dark-gray);
}
