.banner {
  height: 420px;
  background-image: url("https://shopsqa.lukapay.io/static/banner1-70f6200365d9e077ffd57dbd28aea93f.jpeg");
  background-color: silver;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
hr {
  background-color: var(--dark-gray);
}
