.categories-nav {
  padding: 40px 0px;
  margin-top: 30px;
}
.categories-nav-filters {
  list-style: none;
  /*margin: 10px;*/
  padding: 0;
  gap: 10px;
}
.categories-nav-filters .item {
  height: 40px;
  width: auto;
  min-width: 80px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  padding: 7px;
  border: none;
  box-shadow: var(--box-shadow-light);
  transition: all 0.3s ease-in-out;
}
.categories-nav-filters .item a {
  text-decoration: none;
  color: black;
}
form {
  height: 40px;
  width: 280px;
  /*width: auto;*/
  border: 1px solid var(--light-gray);
  box-shadow: var(--box-shadow-light);

  border-radius: 8px;
}
form input {
  border: none !important;
  font-size: 14px !important;
}

form input:focus {
  outline: none !important;
  border-color: none;
  /*outline: red;*/
}
