.cart-page {
  padding: 60px 0px;
}
.resumen-container {
  box-shadow: 0 0 10px rgb(139 158 167 / 16%);
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 25px;
  /*padding: 20px;*/
}
.payment-container {
  box-shadow: 0 0 10px rgb(139 158 167 / 16%);
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 25px;
  padding: 20px;
}
.your-date_container{
/*
  height: 300px;
  background-color: red;*/
}