:root {
  /* colors */
  --white: #ffffff;

  --light-gray: #f0f0f0;
  --dark-gray: #aaaaaa;
  --orange: #eabf19;
  --green: #4fce5d;
  --black: #000;

  --box-shadow-light: 0 0 6px rgb(163 171 193 / 16%);

  /* fonts */

  /* brackpoints */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* images */
  --banner: url("");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
main {
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
  /*background-color: #f7f7f7;*/
}
/*.navbar-collapse {
  flex-grow: 0 !important;
}*/

p {
  font-size: 14px;
  color: var(--dark-gray);
}
a {
  text-decoration: none;
}
section {
  padding: 60px;
}

h2 {
  font-size: 24px !important;
  font-weight: bold;
}
h3 {
  font-size: 20px !important;
}
h4 {
  font-size: 18px !important;
}
form {
  padding: 20px 60px;
}
.bg-orange {
  background-color: var(--orange) !important;
  color: var(--white);
}
